# Descriptive Statistics Review

## Before you start:

- Read the README.md file
- Comment as much as you can
- Happy learning!

## Context

![img](./diamonds.jpg)

In this lab we are going to work with data to understand the characteristics of a diamond that are most likely to influence its price. In this first part of the lab, we will explore and clean our data. 

The dataset we will be using is comprised of approximately 54k rows and 11 different columns. As always, a row represents a single observation (in this case a diamond) and each of the columns represent a different feature of a diamond.

The following codebook was provided together with the dataset to clarify what each column represents:

| Column  | Description  |
|---|---|
| Price  | Price in US dollars (326-18,823)  |
| Carat  | Weight of the diamond (0.2--5.01)  |
| Cut  | Quality of the cut (Fair, Good, Very Good, Premium, Ideal)  |
| Color  | Diamond colour, from J (worst) to D (best)  |
| Clarity  | A measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))   |
| x  | Length in mm (0--10.74)  |
| y  | Width in mm (0--58.9)  |
| z  | Depth in mm (0--31.8)  |
| Depth  | Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)  |
| Table  | Width of top of diamond relative to widest point (43--95)  |

## Libraries
Pandas and numpy will be needed for the analysis of the data. Don't worry about the seaborn and matplotlib import at the moment, you will learn more about them next week, but we will be using some of their functionalities.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import os

First import the data from the .csv file provided and assign it to a variable named `diamonds` and drop the column with the index.

In [2]:
#your code here

diamonds =pd.read_csv('diamonds.csv')

# 1. Taking the first look at the data.
Let's see how the data looks by using pandas methods like `head()`, `info()` and `describe()`. 

**First, use the `head` method.**

In [3]:
#your code here

diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75

We can see the first 5 rows of the dataset using the `head` method. This by itself doesn't tell us much about the data that we have, but we can have a first look at the features (columns) and some of the values that each one takes.

**What do you see? Make some comments about the values you see in each column, comparing them with the codebook. Is that what you would expect for these variables?**

#your code here

- Unnamed = index
- Carat > 0.2 and < 5.01 => OK
- Cut = expected categories => OK
- Color = from D to J => OK
- Clarity = expected categories => OK
- x < 10 : expected values => OK

It is very important to know the amount of data we have, because everything will depend on that, from the quality of the analysis to the choice of our infrastracture.

**Check the shape of the data**

In [4]:
#your code hereÂ£

diamonds.shape

(53940, 11)

The `clarity` column is confusing because we are not diamond experts. Let's create a new column with a new scale that is more understandable for us.

**Create a new column with numbers from 0 to 7. The lowest would be 0 with value `I1` and the greatest 7 with value `IF`**

In [5]:
#your code here

"""Clarity /new col : 
- 0 = I1 (lowest)
- 1 = SI2
- 2 = SI1
- 3 = VS2
- 4 = VS1
- 5 = VVS2
- 6 = VVS1
- 7 = IF (best))"""


diamonds['clarity_index'] = diamonds['clarity']
diamonds.loc[diamonds.clarity_index=='I1', 'clarity_index']=0
diamonds.loc[diamonds.clarity_index=='SI2', 'clarity_index']=1
diamonds.loc[diamonds.clarity_index=='SI1', 'clarity_index']=2
diamonds.loc[diamonds.clarity_index=='VS2', 'clarity_index']=3
diamonds.loc[diamonds.clarity_index=='VS1', 'clarity_index']=4
diamonds.loc[diamonds.clarity_index=='VVS2', 'clarity_index']=5
diamonds.loc[diamonds.clarity_index=='VVS1', 'clarity_index']=6
diamonds.loc[diamonds.clarity_index=='IF', 'clarity_index']=7

diamonds.clarity_index = diamonds.clarity_index.astype(int)

diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1
...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,2
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,1
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,1

It makes sense to do the same with the `color` column.

**Do the same with values from 0 to 6. Read the codebook to see the match**

In [6]:
#your code here

diamonds['color_index'] = diamonds['color']
diamonds.loc[diamonds.color_index=='J', 'color_index']=0
diamonds.loc[diamonds.color_index=='I', 'color_index']=1
diamonds.loc[diamonds.color_index=='H', 'color_index']=2
diamonds.loc[diamonds.color_index=='G', 'color_index']=3
diamonds.loc[diamonds.color_index=='F', 'color_index']=4
diamonds.loc[diamonds.color_index=='E', 'color_index']=5
diamonds.loc[diamonds.color_index=='D', 'color_index']=6

diamonds.color_index = diamonds.color_index.astype(int)

diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1,5
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2,6
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2,6
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,2,6
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,1,2
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,1,6

With the `info` method, we can see the features of the dataset, and the amount of observations (rows) that have a non-null value and the types of the features. 

**Now use the `info` method and comparing with the shape, comment on what you see**

In [7]:
#your code here

diamonds.info()
diamonds.shape

"""In diamonds.info we notice that there are '53940 non-null' rows. With diamonds.shape, 
we know that there are 53940 rows. So no row has missing values."""

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53940 entries, 0 to 53939
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     53940 non-null  int64
 1   carat          53940 non-null  float64
 2   cut            53940 non-null  object
 3   color          53940 non-null  object
 4   clarity        53940 non-null  object
 5   depth          53940 non-null  float64
 6   table          53940 non-null  float64
 7   price          53940 non-null  int64
 8   x              53940 non-null  float64
 9   y              53940 non-null  float64
 10  z              53940 non-null  float64
 11  clarity_index  53940 non-null  int64
 12  color_index    53940 non-null  int64
dtypes: float64(6), int64(4), object(3)
memory usage: 5.4+ MB

"In diamonds.info we notice that there are '53940 non-null' rows. With diamonds.shape, \nwe know that there are 53940 rows. So no row has missing values."

In the last line of the info output, you have some information about the types of the columns. As you know, it is a good idea to check if the types of each column is what you expect. If a column has the right type, we will be able to do all the operations that we want to do. 

For instance, if we have a column that is a `date` with a `string` format, we will have the data but we won't be able to do a simple operation, such as format the date the way that we would like.

Changing the data type to the one we needs can help us to solve a lot of problems in our data.

**Check the types of each column and comment if it matches with the expected**

In [9]:
#your code here

"""All seems good, the only 'object' columns are the categorical ones."""""

"All seems good, the only 'object' columns are the categorical ones."

# 2. A deeper look: checking the basic statistics.

The `describe` method gives us an overview of our data. From here we can see all the descriptive metrics for our variables.

**Use the `describe` method and comment on what you see**

| Column  | Description  |
|---|---|
| Price  | Price in US dollars (326-18,823)  |
| Carat  | Weight of the diamond (0.2--5.01)  |
| Cut  | Quality of the cut (Fair, Good, Very Good, Premium, Ideal)  |
| Color  | Diamond colour, from J (worst) to D (best)  |
| Clarity  | A measurement of how clear the diamond is (I1 (worst), SI2, SI1, VS2, VS1, VVS2, VVS1, IF (best))   |
| x  | Length in mm (0--10.74)  |
| y  | Width in mm (0--58.9)  |
| z  | Depth in mm (0--31.8)  |
| Depth  | Total depth percentage = z / mean(x, y) = 2 * z / (x + y) (43--79)  |
| Table  | Width of top of diamond relative to widest point (43--95)  |

In [10]:
#your code and comments here

diamonds.describe()

"""
The min value for x, y, z is 0, but these columns cannot be 0. 
Even if there are no missing values, there are uncorrect values."""

'\nThe min value for x, y, z is 0, but these columns cannot be 0. \nEven if there are no missing values, there are uncorrect values.'

You have probably noticed that the columns x, y and z have a minimum value of 0. This means that there are one or more rows (or observations) in our dataset that are supposedly representing a diamond that has lenght, width or depth of 0. Considering that we're talking about a physical object, this is impossible!

Now let's proceed to check the rows that have a value of 0 in any of the x, y or z columns. By doing this we want to check if the data we are missing can be obtained using the data that we do have.

**Check the columns with `x`, `y` and `z` with value 0 in all of them and comment what you see**

In [11]:
#your code here

diamonds.query('x==0 | y==0 | z==0')

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
2207,2208,1.00,Premium,G,SI2,59.1,59.0,3142,6.55,6.48,0.0,1,3
2314,2315,1.01,Premium,H,I1,58.1,59.0,3167,6.66,6.60,0.0,0,2
4791,4792,1.10,Premium,G,SI2,63.0,59.0,3696,6.50,6.47,0.0,1,3
5471,5472,1.01,Premium,F,SI2,59.2,58.0,3837,6.50,6.47,0.0,1,4
10167,10168,1.50,Good,G,I1,64.0,61.0,4731,7.15,7.04,0.0,0,3
11182,11183,1.07,Ideal,F,SI2,61.6,56.0,4954,0.00,6.62,0.0,1,4
11963,11964,1.00,Very Good,H,VS2,63.3,53.0,5139,0.00,0.00,0.0,3,2
13601,13602,1.15,Ideal,G,VS2,59.2,56.0,5564,6.88,6.83,0.0,3,3
15951,15952,1.14,Fair,G,VS1,57.5,67.0,6381,0.00,0.00,0.0,4,3
24394,24395,2.18,Premium,H,SI2,59.4,61.0,12631,8.49,8.45,0.0,1,2
24520,24521,1.56,Ideal,G,VS2,62.2,54.0,12800,0.00,0.00,0.0,3,3
26123,26124,2.25,Premium,I,SI1,61.3,58.0,15397,8.52,8.42,0.0,2,1
26243,26244,1.20,Premium,D,VVS1,62.1,59.0,15686,0.00,0.00,0.0,6,6
27112,27113,2.20,Premium,H,SI1,61.2,59.0,17265,8.42,8.37,0.0,2,2
27429,27430,2.25,Premium,H,SI2,62.8,59.0,18034,0.00,0.00,0.0,1,2
27503,27504,2.02,Premium,H,VS2,62.7,53.0,18207,8.02,7.95,0.0,3,2
27739,27740,2.80,Good,G,SI2,63.8,58.0,18788,8.90,8.85,0.0,1,3
49556,49557,0.71,Good,F,SI2,64.1,60.0,2130,0.00,0.00,0.0,1,4
49557,49558,0.71,Good,F,SI2,64.1,60.0,2130,0.00,0.00,0.0,1,4
51506,51507,1.12,Premium,G,I1,60.4,59.0,2383,6.71,6.67,0.0,0,3

As you can see, we have 20 rows that have a value of 0 in some or all the aforementioned columns.
Most of them (12) are missing the z value, which we can obtain using the columns depth, x and y. 

20 rows with issues represent just 0.03% of our data (20 out of 53940) so it wouldn't be a big deal to remove them. Still, lets try to keep all the data we have. 

For those 12 rows, we will create a function that applies the formula given in the codebook and get the value of z. We will drop the other rows (8), since they are missing all 3 values or 2 of them.

**Create a function named `calculate_z` that applies the function in the codebook to one single row you give to the function**

In [32]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1,5
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0

In [12]:
#your code here


def calculate_z(row):
    if diamonds.loc[row, 'z']==0.0:
        diamonds.loc[row, 'z']=(((diamonds.loc[row,'depth']*(diamonds.loc[row,'x'] + diamonds.loc[row,'y']))/2)*0.01)
    else:
        print('The value in z column is not equal to O.')
    return diamonds.loc[row, 'z']

calculate_z(51506)

4.04076

**Apply it just to the rows with incorrect values**

In [13]:
#your code here

calculate_z(2207)
calculate_z(2314)
calculate_z(4791)
calculate_z(5471)
calculate_z(10167)
calculate_z(13601)
calculate_z(24394)
calculate_z(26123)
calculate_z(27112)
calculate_z(27503)
calculate_z(27739)

5.66225

If we leave the other 8 values as they are, it would negatively affect our analysis, because these are data that do not make logical sense. Therefore it is better to consider those values as NaN values, since they are probably the result of a mistake or error during process of measuring and storing these values in a dataset.

To replace them we can use the pandas .replace() method and np.NaN.

**Replace the zero values in the `z` column for a NaN**

In [14]:
#your code here

diamonds['x'] = diamonds['x'].replace(0.0, np.nan)
diamonds['y'] = diamonds['y'].replace(0.0, np.nan)

diamonds

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1,5
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
53935,53936,0.72,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50,2,6
53936,53937,0.72,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61,2,6
53937,53938,0.70,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56,2,6
53938,53939,0.86,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74,1,2
53939,53940,0.75,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64,1,6

----
# Bonus: check the new z values
Since we need to be 100% sure of our data, let's create a function that validates our z. To do so, we will use the same formula, but this time we will calculate the value of depth with the new value assigned to z.

**Create a function named `validate_z` that compares the `z`  in cells above with the one thrown by the formula and run it with the rows you changed in the cells above**

In [30]:
diamonds.head()

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
0,1,0.23,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43,1,5
1,2,0.21,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31,2,5
2,3,0.23,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31,4,5
3,4,0.29,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63,3,1
4,5,0.31,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75,1,0

In [38]:
#your code here

def validate_z(row):
    x=diamonds.loc[row,'x']
    y=diamonds.loc[row,'y']
    d=diamonds.loc[row,'depth']
    zz=round((((x+y)*(d*0.01))/2),2)
    if diamonds.loc[row, 'z']==zz:
        print('Good')
    else:
        print('There is a problem with the calculation of Z.')
    
        return 

validate_z(1)

Good

Let's check the data again with the `describe()` method.

The minimum value for x, y and z should now be a positive number, as it should be for the physical measurements of an object.

Let's finish by checking for NaN values in the data. Since we introduced them ourselves using 'replace', we will surely find some, but there may be more that are unrelated to the x, y and z columns. Checking NaNs is a fundamental part of data cleaning and it's always better to do this kind of operations before proceeding with analysis.

**Check how many NaNs do you have, comment what you would do with those values, and then do so**

In [61]:
#your code here

diamonds.loc[diamonds['y'].isna()]

,Unnamed: 0,carat,cut,color,clarity,depth,table,price,x,y,z,clarity_index,color_index
11963,11964,1.00,Very Good,H,VS2,63.3,53.0,5139,NaN,NaN,0.0,3,2
15951,15952,1.14,Fair,G,VS1,57.5,67.0,6381,NaN,NaN,0.0,4,3
24520,24521,1.56,Ideal,G,VS2,62.2,54.0,12800,NaN,NaN,0.0,3,3
26243,26244,1.20,Premium,D,VVS1,62.1,59.0,15686,NaN,NaN,0.0,6,6
27429,27430,2.25,Premium,H,SI2,62.8,59.0,18034,NaN,NaN,0.0,1,2
49556,49557,0.71,Good,F,SI2,64.1,60.0,2130,NaN,NaN,0.0,1,4
49557,49558,0.71,Good,F,SI2,64.1,60.0,2130,NaN,NaN,0.0,1,4

# 3. Checking for outliers
Now we are going to revisit the summary table to check for outliers.

**Use the `describe` method again and comment on what you see. After that, check if you have any outliers**

In [43]:
#your code here

summary = diamonds.describe().T

summary

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,53940.0,26970.500000,15571.281097,1.00,13485.75,26970.50,40455.25,53940.00
carat,53940.0,0.797940,0.474011,0.20,0.40,0.70,1.04,5.01
depth,53940.0,61.749405,1.432621,43.00,61.00,61.80,62.50,79.00
table,53940.0,57.457184,2.234491,43.00,56.00,57.00,59.00,95.00
price,53940.0,3932.799722,3989.439738,326.00,950.00,2401.00,5324.25,18823.00
x,53932.0,5.732007,1.119670,3.73,4.71,5.70,6.54,10.74
y,53933.0,5.735270,1.140339,3.68,4.72,5.71,6.54,58.90
z,53940.0,3.539740,0.703936,0.00,2.91,3.53,4.04,31.80
clarity_index,53940.0,3.051020,1.647136,0.00,2.00,3.00,4.00,7.00
color_index,53940.0,3.405803,1.701105,0.00,2.00,3.00,5.00,6.00

In [ ]:
#your comments here

To manage these outliers, we are going to filter our DataFrame, we're going to take all the values that have a price higher than the 75th percentile.

**Look for that quantile and filter the dataframe to clearly see the outliers. What do you think?**

In [ ]:
#your code here

q = diamonds['price'].quantile(.75)

diamonds.loc[diamonds.price > q]

Our dataset is really big and the outliers are really far apart from the rest of the values. To see this more clearly we will use a boxplot, which plots the median, 25th and 75th quartile, the maximum and minimum, as well as any outliers.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

Now we can see that all the values are within an acceptable range, but we have 2 big outliers in y and 1 in z. Now we know that our max values for y should be around 10 and the values for z should be around 6, so let's filter our dataset to find values higher than 10 in it.

In [ ]:
#your code here

diamonds[diamonds['z']>10]

Now that we have found the outlier, let's use the function we defined earlier to correct this value. First, we need to change the value to 0 (because that's how we defined the function before) and then we will apply it.

**Apply `calculate_z` for the row with the outlier**

In [ ]:
#your code here

diamonds.loc[48410, 'z']=0
calculate_z(48410)

Let's check if we actually corrected the outlier.

In [ ]:
diamonds.loc[48410]

Cool! Now let's validate our new `z`. We will check if we obtain the same value of depth using our validate function. If the formula applies, this means could approximate the real value of `z`.

**Apply `validate_z` to the row used earlier**

In [ ]:
#your code here

Now let's do the same for `y`. First, let's filter the DataFrame to find the outliers. We said that the maximum values should be around 10, so let's check what are the values above 10.

**Check the values greater than 10 in the `y` column**

In [ ]:
#your code here

diamonds[diamonds['y']>10]

We can clearly see that the 31.8 in row 49189 is an outlier for the y value. Also, we can see that the 58.9 value for `y` in row 24067 is actually its depth, so it was a mistake when they introduced the data. Let's create a function to fix these outliers.

**Create a function named `calculate_y` to calculate `y` using `z` and `x` the same way you did above**

In [ ]:
#your code here

def calculate_y(row):
    diamonds.loc[row, 'y']=(2*diamonds.loc[row,'z'])/(diamonds.loc[row,'depth']*0.01)-diamonds.loc[row,'x']
    return diamonds.loc[row, 'y']

calculate_y(49189)
calculate_y(24067)

We will check the rows that had an outlier in `y`, to check that the values were changed.

**Check those rows (also validating with your function) and comment what you see**

Now that we have corrected or dropped all of our outliers, lets plot another box plot to double check.

In [ ]:
#Run this code
fig, ax = plt.subplots(1,2, figsize=(10, 5))
sns.boxplot(y=diamonds.y, ax=ax[0])
sns.boxplot(y=diamonds.z, ax=ax[1])
plt.subplots_adjust(wspace=0.5)

**What do you think? Are these values more reasonable?**

In [ ]:
#your thoughts here

"""
There is still value z value that is really higher than the others, but the size of the diamond is really big, so 
we can keep it."""

**Once you are happy with your cleaning, save the cleaned data and continue to csv. Your new csv should be named ``diamonds_clean``**

In [ ]:
#your code here

diamonds.to_csv('diamonds_clean.csv')